<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  id="com.nd.bgGeoLocation"
  version="1.0.0">

  <name>Background Geolocation</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/bgGeoLocation.js" target="js/bgGeoLocation.js"/>

  <js-module src="www/bgGeoLocation.js" name="bgGeoLocation">
    <clobbers target="bgGeoLocation" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BgGeoLocation">
        <param name="android-package" value="com.nd.bgGeoLocation.BgGeoLocation"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <receiver android:exported="false" android:name=".BackgroundLocationReceiver" />
    </config-file>

    <source-file src="src/android/BgGeoLocation.java" target-dir="src/com/nd/bgGeoLocation/"/>
    <source-file src="src/android/BackgroundLocationReceiver.java" target-dir="src/com/nd/bgGeoLocation/"/>
  </platform>

</plugin>